/* styles.css*/

/*styling the body*/
body {
    font-family: Lobster, cursive;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
    

/*styling the heading*/
header {
    background-color: #ffc0cb;
    color: red;
    padding: 20px;
    tex-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/*section styling*/
section {
    background-color: pink;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/*section heading*/
section h2 {
    color: #FF0000;
    font-size:28px;
    margin-bottom:10px;
}

/*Paragraph styling*/
section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/*Link styling*/
a {
    color: #FF0000;
    text-decoration:underline;
}

/*Footer Styling*/
footer {
    background-color: #ffc0cb;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
